body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #ffafbd, #ffc3a0);
    background-attachment: fixed;
    animation: gradientAnimation 10s ease infinite;
}

header {
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    padding: 1rem;
    text-align: center;
}

.about-bot,
.features,
.get-started {
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.get-started a {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 2rem;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

.get-started a:hover {
    background-color: #555;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Добавьте следующий CSS в ваш файл styles.css */

.animated-element {
    width: 100px;
    height: 100px;
    background-color: #3498db;
    transition: all 0.3s ease;
}

.animated-element:hover {
    width: 150px;
    height: 150px;
    background-color: #e74c3c;
}
